//== Buttons;

/* ================================ */

$btn-primary-color: #000000;
$btn-primary-bg: $brand-yellow;

$btn-default-color: $btn-primary-color;
$btn-default-bg: $btn-primary-bg;
$btn-default-border: $btn-primary-bg;

$btn-bg: $brand-primary;
$btn-color: $brand-primary;

$btn-bg-inverse: $color-secondary;
$btn-color-inverse: white;
$button-border-radius: 0;

$button-y-padding: 16px;
$button-x-padding: 22px;
