.component--hero.-light {
  &.no-overlay {
    .component-fill.-treatment {
      opacity: 0;
    }
  }

  .component-fill.-treatment {
    background-color: white;
    opacity: 0.3;

    @media (max-width: $navbar-collapse-point - 1) {
      background-color: white;
    }
  }
}

.component--hero.-light.-contain {
  &.no-overlay {
    .component-fill.-treatment {
      opacity: 0;
    }
  }

  .component-bg-photo {
    @media (max-width: $navbar-collapse-point - 1) {
      background-size: contain;
      background-position: center bottom;
      background-repeat: no-repeat;
    }
  }
}

.component--hero.dark-half-fill {
  .component-fill.dark-half {
    @media (max-width: $navbar-collapse-point - 1) {
      width: 100%;
      opacity: 0.2;
    }
  }
}

.component--hero.-dark {
  .component-fill.-treatment {
    background-color: $gray-darkest;
    opacity: 0.5;
  }
}

.component--hero.-top {
  margin-top: -$navbar-height;

  @media (max-width: $navbar-collapse-point - 1) {
    margin-top: -$navbar-mobile-height;
  }
}

.component--hero {
  position: relative;
  overflow: hidden;
  height: 100%;
  margin: 0 auto;

  $root: &;

  .mega-subtitle {
    max-width: none;
  }
  overflow: visible;
  height: auto;
  min-height: 70vh;
  background-color: $gray-darkest;

  @include media-query($small) {
    min-height: 700px;
  }

  @media (min-width: $screen-xs-min) {
    min-height: 740px;
  }

  @media (min-width: $screen-sm-min) {
    @include aspect-ratio(1366, 600);
  }

  @media (min-width: $screen-lg-min) {
    @include aspect-ratio(1366, 600);
  }

  .h1 {
    line-height: 1.2em;
  }

  .component-bg-video {
    height: 1px;
    min-height: 100%;

    video {
      @media (min-width: $screen-xs-min) {
        min-height: 60vh;
      }

      @media (min-width: $screen-sm-min) {
        @include aspect-ratio(1366, 600);
      }

      @media (min-width: $screen-lg-min) {
        @include aspect-ratio(1366, 600);
      }
      position: fixed;
      top: initial;
      left: 50%;
      width: auto;
      min-width: 100%;
      height: auto;
      min-height: 100%;
      transform: translateX(-50%) translateY(0%);
    }
  }

  .component-bg-photo {
    &.skrollable {
      @include no-transitions;

      // margin-top: 0%;
      // margin-right: -10%;
      // margin-left: -10%;
      // margin-bottom: -20%;
      // width: 120%;
      // height: 120%;
    }
  }

  .component-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .component-bg {
    @include no-transitions;

    img {
      width: auto;
      height: 100%;
    }
  }

  .component-body-inner {
    @media (max-width: ($screen-sm-max - 100)) {
      padding: $line-height-computed;
    }

    .component-text {
      margin: auto;
    }
  }

  .component-body {
    position: relative;

    h4 {
      color: white;
      margin-bottom: $line-height-computed;
    }
  }

  .preview-text,
  .component-text {
    text-align: center;

    h4 {
      @media (max-width: ($screen-sm-max - 100px)) {
        font-size: 14px !important;
        letter-spacing: -1px;
      }
    }
  }

  .btn {
    margin-top: $line-height-computed;
  }

  .component-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &--parallax {
    .component-wrap {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .component-bg {
      position: fixed;
      z-index: 0;
      margin-top: $navbar-height;

      img {
        width: 100%;
        height: auto;
      }
    }

    .component-bg-photo {
      @include no-transitions;
      position: absolute;
      top: -5%;
      left: -5%;
      width: 120%;

      @include aspect-ratio(1366, 600);
    }
  }
}

/* ================ Hero and slideshow headers ================ */
.mega-title,
.mega-subtitle {
  text-shadow: 0 0 15px $color-text-shadow;
}

.mega-title {
  margin-bottom: 8px;
}

.mega-title--large {
  font-size: em($font-size-header + 8);

  @include media-query($medium-up) {
    font-size: em(floor($font-size-header * 2.5));
  }
}

.mega-subtitle {
  @include media-query($medium-up) {
    max-width: 75%;
    margin: 0 auto;
    font-size: em($font-size-base + 4);
  }

  p {
    color: inherit;
  }
}

.mega-subtitle--large {
  font-size: em($font-size-base + 2);
  font-weight: $font-weight-header;

  @include media-query($medium-up) {
    font-size: em($font-size-base + 8);
  }
}
